<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite para redirigir a servidor Node.js -->
    <rewrite>
      <rules>
        <rule name="NextJS-Standalone" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- MIME Types para archivos estáticos -->
    <staticContent>
      <mimeType fileExtension=".json" mimeType="application/json" />
      <mimeType fileExtension=".woff" mimeType="font/woff" />
      <mimeType fileExtension=".woff2" mimeType="font/woff2" />
      <mimeType fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Compression para mejor rendimiento -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>
